<div class="container">
    <div class="row text-center">
        <h1 class="display-5 py-4 mt-5 fw-bold">ABR Media</h1>
    </div>



    <div class="row py-4 px-5">
        <div class="col-lg-4">
            <img src="https://media.licdn.com/dms/image/D4E35AQH28FTHsmzX9A/profile-framedphoto-shrink_100_100/0/1713182866713?e=1714654800&v=beta&t=XRNSBdFnQdjhmjzEOLlx_nKI-Vi65WH70mexmnYz9Jk"
                class="bd-placeholder-img rounded-circle" width="140" height="140">

            <h3>Abdul Al thyab</h3>
            <p>Junior .net developer</p>
            <p>abdul.althyab&#64;gmail.com</p>
            <p>www.linkedin.com/in/abdul-al-thyab</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img src="https://media.licdn.com/dms/image/D4E35AQE2zc5ZsBb7FQ/profile-framedphoto-shrink_100_100/0/1713184885512?e=1714654800&v=beta&t=GZI77jCkoxxZFmGlgM8WwNiRB0ZtmCqC8-gLCff9CxM"
                class="bd-placeholder-img rounded-circle" width="140" height="140">

            <h3>Bart Nobels</h3>
            <p>Junior .net developer</p>
            <p>b-nobels&#64;hotmail.com</p>
            <p>https://www.linkedin.com/in/b-nobels</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img src="https://media.licdn.com/dms/image/D4D35AQHdWjY26x1zpg/profile-framedphoto-shrink_100_100/0/1711985020229?e=1714654800&v=beta&t=5s6xOJTZcYk6AH5gt0aEDCrQ8E8JSBwvN_UVOvShUyw"
                class="bd-placeholder-img rounded-circle" width="140" height="140">

            <h3>Robin Boone</h3>
            <p>Junior .net developer</p>
            <p>robgito.rb&#64;gmail.com</p>
            <p>https://www.linkedin.com/in/robin-boone-a60286301</p>
        </div><!-- /.col-lg-4 -->

    </div>
</div>