<section>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand custom-font" (click)="scrollToTop()" routerLink="">ABR Media</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="contact">Contact</a>
                </ul>
            </div>
        </div>
    </nav>
</section>