<div class="contact container ">
    <div class="row text-center">
        <h1 class="py-4 mt-5 fw-bold">Contact Us</h1>

        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="39b837a9-d5ff-416d-8b9b-c6ef9d310f0c" />
            <input type="hidden" name="redirect" value="https://web3forms.com/success">
            <input type="hidden" name="apikey" value="39b837a9-d5ff-416d-8b9b-c6ef9d310f0c">
            <input type="text" name="naam" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" pattern="^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$"
                required>
            <input type="text" name="Address" placeholder="Your Address">
            <input type="tel" name="Phone" pattern="^\+(?:[0-9] ?){6,14}[0-9]$"
                placeholder="Phone Number starts wiht Country Code e.g. +32" required>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
            <button type="submit" class="btn btn-secondary mb-5">Send Message</button>
        </form>
    </div>
</div>