.contact {
    background-color: rgb(150, 1, 150);
    width: 100%;
    
}
.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: black;
}

.main-text h2 {
    font-weight: 700;
    font-size: 2rem;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: black;
    background: white;
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea {
    resize: none;
}
