@for(post of posts; track posts){
<div class="card btn bg-body-secondary my-3" [routerLink]="'/post-detail/' + post.id" type="routerLink">
    <div class="container-fluid col-8">
        <h1>{{post.title}}</h1>
        <img [src]="post.thumbnail">
        <p class="fw-bold">{{post.category}}</p>
        <p>Published at: {{post.publishedAt}}</p>
    </div>
</div>
}