<section class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card h-100">
                <img [src]="detailedPost.image" class="card-img-top card-img-custom" alt="...">
                <div class="card-body d-flex flex-column">

                    <h4 class="card-title fw-bold">{{detailedPost.title}}</h4>
                    <p class="card-text">{{detailedPost.content}}</p>

                    <p class="card-text"><small class="text-muted">Published: {{detailedPost.publishedAt |
                            date:'long'}}</small></p>
                    <p class="card-text"><small class="text-muted">Updated: {{detailedPost.updatedAt |
                            date:'long'}}</small></p>
                    <p class="card-text">{{user.firstname}} {{user.lastname}}</p>
                    <a class="btn btn-secondary mt-auto" target=”_blank”
                        [routerLink]="'/user-detail/' + user.userId">User info</a>
                </div>
            </div>
        </div>
    </div>
</section>