<div class="container text-center pt-5 mt-5">
    <h1 class="display-1">ANGULAR SOCIAL MEDIA APP</h1>
    <h3>An angular application that gets posts and users from the JSON placeholder API</h3>
    <p>Created by: Bart Nobels, Abdul Althyab and Robin Boone</p>
</div>
<div class="container justify-content-center p-5 my-5">
    <app-post></app-post>
</div>